
.mainBox{
  background-color:lightblue;
}

.para{
position: relative;
text-align: center;
margin-left: 25%;
margin-top: 0%;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 200px;
    width: 400px;
    /* background: #333; */
    margin-left: 30%;
  }
  
  h1 {
    text-align: center;
  }
  
  .animation {
    text-align: center;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  .first {
    display: inline-block;
    animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background: #333;
    z-index: 1;
    position: relative;
  }
  
  .oh {
    display: inline-flex;
    overflow: hidden;
  }
  
  .second {
    animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: 100;
    z-index: -1;
    display: inline-block;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1);
    } 
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes firstSpan {
    0% {
      transform: translateX(50%);
    }
    60% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes secondSpan {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-0%);
    }
  }
 
  #ratingV{
    margin-top: 30%;
    margin-left: 30%;
  }

  #h3{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-size: 200%;

  }
.mainBox1{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  padding: 1%;
  margin-top: 5%;
  
}

#audioId{
text-align: center;
font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-size: 200%;
}
  #fVideos{
    padding: 2%;
  border: 3px solid rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
  }

  #audioS{
    padding: 2%;
  border: 3px solid rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
  }

  #userRate{
    border: 5px outset rgba(0,0,0,0.16);
  background-color: lightblue;
  /* align-items: center; */
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  #lie1{
    text-decoration: none;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-size: 150%;
    }
    #bSubmit{
      /* width: 15%; */
    text-decoration: none;
    border: 2px solid #08282fb7;
    transition: all 0.5s ease;
    font-size: 10px;
    padding: 5px;
    position: relative;
    float: right;
    /* top: -100px; */
    right: 10%;
    top: 10%;
    letter-spacing: 3px;
    text-transform: uppercase;
    }
    #bSubmit{
      background-color: #142a72dc;
    color: #d1dabb;
    }

  /* #nameP{
    float: left;
  } */
  /* #name{
float: left;  
}
#ratenumber{
  float: left;
} */