/* ---------------------------main ----------------------------*/
.raw1 div {
    float: left;
    display: inline;
    width: 22%;
    height: 22%;
    margin-left: 2.3cm;
    margin-top: 1cm;  
    font-size: large;
    font-family: 'Raleway', sans-serif;
    background-color: hsla(229, 95%, 74%, 0.678);
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}
.raw1 div img {
    height: 200px;
}
.raw1 div p{
    text-align: center;
    padding: 10px;
}
/* --------------------- form ----------------*/
.fieldset {
    position: absolute;
    top: 11cm;
    left: 12cm;
}
.fieldset h3 {
    margin-top: 1em;
}