.resipeButton {

    margin-left: 1.5cm;
    border: 2px solid black; 
    padding: 5px;


}

.resipeButton:hover {
    background-color: #beddbf; 
    color: black;
  }
  

.resipePara {
    display: none;
}

    
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-right: 10%;
    margin-top: 3%;
 margin-left: 8%;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 13px;
    font-size: 20px;
    text-align: center;
    margin: 15px;
  
}
.flip-card{
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } 
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
  } 
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
  } 
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  .img-text{
    margin: 18%;    
    
  }
main img {
    height: 250px;
    width: 300px;
} 


/* --------------------- form ----------------*/
.fieldset {
    
    background-color: #be9ddfcc;
    width: 70%;
    margin: auto;
    align-items: center;
    padding: 5%;
    margin-top: 5%;
    position: relative;
    top: 50px;
    left: 10px;
    margin-bottom: 10%;
    border: 0px;
    


}


.btn{
    background-color: #92ddea;
	border: 2px solid #9579d1;
	padding: 10px;
    width: 20%;
	color: #141313;
	font-size: 20px;
    transition: 1s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 5px;
    position: absolute;
    left: 75%;
    bottom: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;

} 
.btn:hover {
    border: 2px solid #9579d1;
    font-size: 20px;
    margin: 5px;
    color: #2e2e2e;
	background: #9579d1;
}
.fieldset select {
    background: transparent;
	border: none;
	border-bottom: outset #2e2e2e;
	width: 170px;
	outline: none;
	padding-left: 10px;
	font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;      
}
.fieldset input{
    background: transparent;
	border: none;
	border-bottom: outset #2e2e2e;
	width: 170px;
	outline: none;
	padding-left: 10px;
	font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;     
}
.fieldset option{
    background-color: #92ddea;
    font-size: large;
    width: 200%;
}

.fieldset label{
    font-size: 20px;
    
}
.option , .number {
    display: block;
    padding: 2%;
}
#orders{
    position: absolute;
    left: 40%;
    list-style: none;
    top: 10%;
    font-size: large;
}
