<<<<<<< HEAD
.column {
    width: 50%;
    display: inline;

    /* width: 33.33%; */
    /* padding: 5px; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
    width: 50%;
    display: inline;
}
=======
  * {
      box-sizing: border-box;
  }
  
  .column {
      float: left;
      width: 30%;
      padding: 5px;
      margin: 5px;
  }
  
  .row {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .row::after {
      content: "";
      clear: both;
      display: table;
  }
  
  h1 {
      text-align: center;
      /* margin-left: 180px; */
  }
  
  p {
      text-align: center;
  }
  
  .start-btn {
      position: relative;
      top: 50px;
      right: 35%;
      width: 30%;
  }
  
  .column {
      background-color: #e9e2d8;
      border: #ffc293;
      border-style: outset;
  }
>>>>>>> main
